

//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//

h1 {
  @include baseFont($size: (15 * $quark), $weight: $semi, $line-height: (16 * $quark));
  @include baseMargin($margin-direction: margin-bottom, $margin-width:3rem);
}

h2 {
  @include baseFont($size: (12 * $quark), $weight: $semi, $line-height: (14 * $quark));
  @include baseMargin($margin-direction: margin-bottom, $margin-width:1rem);
}

h3 {
  @include baseFont($size: (10 * $quark), $weight: $semi, $line-height: (10 * $quark));
  @include baseMargin($margin-direction: margin-bottom, $margin-width:1rem);
}

h4 {
  @include baseFont($size: (8 * $quark), $weight: $semi, $line-height: (10 * $quark));
  @include baseMargin($margin-direction: margin-bottom, $margin-width:1rem);
}

h5,
h6 {
  @include baseFont($size: (7 * $quark), $weight: $semi, $line-height: (8 * $quark));
}



@mixin heading-xl($font-family: $font-heading, $font-size: 2rem, $line-height: 1.4, $color: inherit, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

// h1,h2,h3,h4,h5,h6{
//    &__link {
//     color: $color-link;

//     &:hover {
//       color: $color-link-hover;
//     }
//   }
// }


// @mixin heading-large($font-family: $font-heading, $font-size: 1.8rem, $line-height: 1.4, $color: inherit, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
//   color: #{$color};
//   font-family: #{$font-family};
//   font-weight: #{$font-weight};
//   font-style: normal;
//   font-size: #{$font-size};
//   line-height: #{$line-height};
//   margin: #{$margin};
//   width: auto;

//   &__link {
//     color: $color-link;

//     &:hover {
//       color: $color-link-hover;
//     }
//   }
// }

// @mixin heading-medium($font-family: $font-heading, $font-size: 1.4rem, $line-height: 1.6, $color: inherit, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
//   color: #{$color};
//   font-family: #{$font-family};
//   font-weight: #{$font-weight};
//   font-style: normal;
//   font-size: #{$font-size};
//   line-height: #{$line-height};
//   margin: #{$margin};
//   width: auto;

//   &__link {
//     color: $color-link;

//     &:hover {
//       color: $color-link-hover;
//     }
//   }
// }

// @mixin heading-small($font-family: $font-heading, $font-size: 1.2rem, $line-height: 1.6, $color: inherit, $color-link: inherit, $color-link-hover: inherit, $font-weight: 600, $margin: 0 0 0.5em) {
//   color: #{$color};
//   font-family: #{$font-family};
//   font-weight: #{$font-weight};
//   font-style: normal;
//   font-size: #{$font-size};
//   line-height: #{$line-height};
//   margin: #{$margin};
//   width: auto;

//   &__link {
//     color: $color-link;

//     &:hover {
//       color: $color-link-hover;
//     }
//   }
// }

// @mixin heading-xs($font-family: $font-heading, $font-size: 1.1rem, $line-height: 2, $color: inherit, $color-link: inherit, $color-link-hover: inherit, $font-weight: 600, $margin: 0 0 0.5em) {
//   color: #{$color};
//   font-family: #{$font-family};
//   font-weight: #{$font-weight};
//   font-style: normal;
//   font-size: #{$font-size};
//   line-height: #{$line-height};
//   margin: #{$margin};
//   width: auto;

//   &__link {
//     color: $color-link;

//     &:hover {
//       color: $color-link-hover;
//     }
//   }
// }