///////////////////////// Colors

$teal: #85c4ca;
$dark-teal: #4f6561;

$blue: #1e98db;
$gold: #fdd100;
$tan: #b7ac84;

$purple: #6f1053;

$red: #cc0028;

$dark-gray: #2c2c2c;
$med-gray: #354251;
$gray: #9b9b9b;
$light-gray: #eeeeee;

$white: #ffffff;
$black: #000000;

$green: #9ece78;
$green-lt: #9ece78;


// Font vars
$sans-serif-font: "canada-type-gibson", sans-serif;
$serif-font: "freight-micro-pro", serif;

$base-font-size: 18px;

$font-light: 300;
$font-medium: 600;

// sizes and spacing
$gutter: 24px;
$page__gutters: 8.4375%; // 162/1920 8.375
