.campfire{
    @include baseGrid($g-gap: $space * 2);
    grid-template-columns: $space 1fr $space;
    grid-template-areas:
    ". two ."
    ". one ."
    ". three .";
    @include componentMargin();
    @include medium{
    grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "one one one two two two two two two three three three";
    }
    @include large{
        grid-template-columns: repeat(14, 1fr);
        grid-template-areas:
        "one one one one two two two two two two three three three three";
    }
    @include xl{
    // gird-template-columns: repeat(14, $max-column);
    }
    &__articles{
        grid-area: one;
    }
    &__feature{
        grid-area: two;
    }
    &__articles_2{
        grid-area: three;
    }
} 

// campfire specific styles
.campfire__support{
    @include baseBorder();
    padding: $space;
    h2{
        text-align: center;
        margin-top: 3 * $quark;
    }
}