/*
 Base css for the layout and general structure of the website. All roads will lead through this.
*/

body{
  overflow-x: hidden;
  background: $near-white;
}

.wrapper{
  @include max-width(){
    max-width: $xx-wide;
    margin: 2rem auto;
  }
  background: $white;
}

.row{
  display: grid;
  grid-template-columns: 1fr minmax(auto, $xl) 1fr;
  &--black{
    background: $black;
  }
}

// main to add side gutters to main content wrapper
main{
  // padding: 0 1rem;
}

.container{
  grid-column: 2;
  padding: 0 1rem;
  @include large(){
    padding: 0 2rem;
  };
  @include baseGrid();
  max-width: $x-wide;
  margin: 0 auto;
  &--topBar{
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: .5rem 0;
  }
  // &--content found on _page.scss for all basic page grid styles
}

// slice : the main wrapper for each main section of a page
// examples : campfire, phototext, links
// anything that goes edge to edge. Will eventually receive a .slice--with-sidebar addtion
.slice{
  // max-width: $x-wide;
  // margin: 0 auto (19 * $quark);
}

// Grid helper classes prefixed with 'g-'

.g-center{
    justify-content: center;
}
