/* 
    Base styles for all figures
    -specific styles will be in atom directores 
    -image
    -video

    display:table, and display:table-caption,caption-side:bottom to allow for sizing to the image not the caption

    PANOS -- really these should be constrained like slices but want to consider the possibility of full width panos?

    */


figure{
    display: inline-block;
    @include baseBorder();
    @include baseComponentMargin($m-top: 0, $m-right: 0, $m-bottom: (5 * $quark), $m-left: 0);
    // &.pullLeft, &.pullRight{
    //     width: calc(100% + 3rem); //100% + the value of the pull left or right
    // }
}

.figure{
    &--pano{
        margin: 0;
    }
    &--image{
        //max-width: $quark * 100;
        display: table;
        @include baseBorder(border-no-bottom);
        figcaption{
            display: table-caption;
            caption-side: bottom;
            @include baseBorder(border-no-top);
        }
    }
    &--video{
        display: block;
    }
}

figcaption{
    @include baseFont($family: $font-serif, $size: (5 * $quark));
    padding: (5 * $quark);
}
