{# {% set grid_base_class = grid_base_class %} #}
{% set grid_blockname = "grid" %}
{# {% set grid_modifiers = ["modifier"] %} #}
{% set grid_element = "grid_element" %}

{% if grid_label %}
    {% include "@atoms/headings/_heading.twig" with {
        "heading_level" : 2,
        "heading" : grid_label
    } %}
{% endif %}

{# 
    OK... i want to have block--modifier so i have to change the order in the function to make that happen. Cool BUT....
    What if i want to reuse this component and have "__element" in there in a different spot? The need to change around the function really hinders the usability of this. 
 #}
<div {{ bem(grid_blockname, (grid_modifiers)) }}>
    {# <div class="blockname blockname--modifier> #}
    {# 
    
    <div {{ bem(grid_element, (grid_modifiers), grid_blockname) }}>
        gives you
    <div blockname blockname__element blockname__element--modifier>
    you cant get to have blockname--modifier
    
     #}
    {% block grid_content %}
        {% for item in items %}
            <div class="grid__item">{{ item }}</div>
        {% endfor %}
    {% endblock %}
</div>