{# Main #}
{% block main %}
    <div class="grid">
        <div class="logo"><img src="http://as.cornell.edu/sites/as/files/as-cornell-lockup.svg" /></div>
        <span class="date-time">
            <!-- <img src="http://as.cornell.edu/sites/as/files/calendar_0.svg" alt="" style="stroke:#4444;"> -->

            <!-- <i class="far fa-calendar-alt"></i> -->
            <svg>
                <use xlink:href="#shape-calendar-alt"></use>
            </svg>
            <div>
                <div class="time" id="time"></div>
                <div id="date">
                {{ "now"|date("l, F jS") }}
                </div>
            </div>
        </span>
        {# Content #}
        {% block content %}
          {{ page.content }}
        {% endblock %}
    </div>

{% endblock %}
