/*
  Universal Card Styles
*/

// set styles specifically for PL
.open-card{
  @include baseBorder();
  border-radius: $border-radius;
  margin-bottom: 1rem;
  .pl &{
    max-width: 600px;
  }
}

// Campfire center Open Card
.open-card{
  &--campfire-feature{
    @include baseGrid($g-gap: 0px);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "top top"
    "label dateline"
    "byline social";
    a{
      color: $white;
      margin: 1rem;
      padding: 1rem;
      text-align: center;
      @include baseBorder($bor-width: $quark, $bor-color: $white);
      font-weight: $semi;
    }
  }
  &__image{
    grid-area: top;
  }
  &__title{
    grid-area: top;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  &__label{
    grid-area: label;
    @include baseFont($family: $font-serif);
    @include fontSize(5);
    margin: (5 * $quark) 1rem;  
  }
  &__date{
    grid-area: dateline;
    text-align: right;
    @include fontSize(4);
    margin: (5 * $quark) 1rem;
  }
  &__byline{
    grid-area: byline;
    @include fontSize(4);
    margin: 0 1rem 1rem;
  }
}

