// base styles for Photo Text blocks, elements and mods

.photoText{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 50% auto;
    grid-template-rows: auto 1fr auto;
    max-width: $x-wide;
    margin: 0 auto;
    h2{
        font-size: 1rem;
        // finds .slider .photoText ascendant slector
        .slider &{
            font-size: 3rem;
        }
    }
}

